<% layout("/layouts/boilerplate")%>
<body>
    <div class = "index-container">
        <h3 class="latest">Explore Blogs</h3>
        <hr>
        <div class="blog-sorting">
            <div class="searching">
                <form class="d-flex" action="/blogs" method="GET" role="search">
                    <input name = "searchQuery" class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="author-sorting">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Authors</option>
                    <option value="1">Krishna Muskawad</option>
                    <!-- <option value="2"></option>
                    <option value="3"></option> -->
                  </select>
            </div>
        </div>
        <%for(blog of blogs){%>
            <div class="card mb-3" style="max-width: 575px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img style = "object-fit:cover;height: 100%;" src="<%=blog.image%>" class="img-fluid rounded-start card-img" alt="blog-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b><%=blog.title%></b></h5>
                            <span>By <a class="card-text author-name"><i><%=blog.author%></i></a></span>
                            <p class="card-text"><%=blog.snippet%></p>
                            <form action="/show/<%=blog._id%>" method="get">
                                <button class="btn btn-success">Read More</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
    <br><br><br><br>
    <%- include("../includes/footer.ejs")%>
</body>